<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>HTML5彩色烟花燃放动画特效 - 站长素材</title>


    <style>
        canvas {
            z-index: -1;
            position:absolute;
        }
    </style>
</head>
<body>
<canvas id="canvas" style="z-index: -1; position: absolute"></canvas>

<canvas id="screen" style="z-index: -1; position:absolute;"></canvas>
<div style="height: 100px; width: 100px">asdasda</div>
<div style="height: 100px; width: 100px">asdasda</div>
<div style="height: 100px; width: 100px">asdasda</div>
<div style="height: 100px; width: 100px">asdasda</div>
<div style="height: 100px; width: 100px">asdasda</div>
<script src="../../static/lib/background/top.js"> </script>

</body>
</html>