<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/404.css" th:href="@{/css/404.css}">
	<title>404页面</title>
</head>

<body>
<div class="newfinno-con"></div>
<div class="tips">
    <h2 class="b-text">矮油~~您访问的页面不在地球上...</h2>
    <p class="m-box">
        <span class="m-text">休息一下，去主页看看吧。</span>
        <a class="back-index" href="../index.html">返回首页</a>
    </p>
</div>
</body>
</html>