<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="../static/lib/swiper/css/swiper.css">
    <link rel="Shortcut Icon" href="../static/images/icon.png" type="image/x-icon"/>
    <title>首页 | 详情</title>
</head>
<body>
<nav th:replace="_fragments :: menu(0)" class="ui teal inverted attached segment m-padding-tb-mini m-border m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui header item"><img src="../static/images/icon.png" class="image ui large">曲奇曲怪</h2>            <a href="/" class="item m-item m-mobile-hide active"><i class="small home icon"></i>&nbsp;首页</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="small image icon"></i>&nbsp;图库</a>
            <a href="#" class="item m-item m-mobile-hide"><i class="small info icon"></i>&nbsp;关于我们</a>
        </div>
    </div>
    <button class="ui teal icon button m-sidebar m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </button>
</nav>

<div class="m-container m-padded-tb-big">
        <div class="ui container">
            <div class="ui stackable grid" th:object="${gift}">
                <div class="six wide column">
                    <!-- Swiper -->
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" th:each="pic : *{giftPictures}"
                                 style="background-image:url(../static/images/lena.png)"
                                 th:style="'background-image:url(' + @{${pic.picUrl}} + ')'">
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" th:each="pic : *{giftPictures}"
                                 style="background-image:url(../static/images/lena.png)"
                                 th:style="'background-image:url(' + @{${pic.picUrl}} + ')'">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="six wide column">
                    <div class="ui top attached padded segment">
                        <h3 class="ui header m-detail-text" th:text="*{title}">innisfree/悦诗风吟蜜吻真彩唇膏口红哑光丝绒 9号温婉杜鹃 持久</h3>
                    </div>
                    <div class="ui attached tertiary segment">
                        <div><i class="ui large money bill alternate outline icon m-icon"></i>所需积分：&emsp;<span class="ui header red">￥</span>
                            <span class="ui header red" th:text="*{integral}" style="font-size: 30px!important;">50</span>
                        </div>
                    </div>
                    <div class="ui attached segment">
                        <div><i class="ui large tasks icon m-icon"></i>完成要求：<span class="ui header" th:text="*{task}">完成教师资格证</span></div>

                    </div>
                    <div class="ui attached segment">
                        <div><i class="ui large calendar outline check icon m-icon"></i>发布时间：
                            <span class="ui header" th:text="*{#calendars.format(createTime, 'yyyy-MM-dd')}">2019-01-01</span>
                        </div>
                    </div>
                    <div class="ui attached segment">
                        <div><i class="ui large info icon m-icon"></i>任务状态：
                            <span class="ui header" th:text="*{state}">审核通过</span>
                        </div>
                    </div>
                    <div class="ui attached segment">
                        <div><i class="ui large venus icon m-icon"></i>发布人：<span class="ui header" th:text="*{publishUser.nickName}">曲奇</span></div>
                    </div>
                    <div class="ui bottom attached segment">
                        <div><i class="ui large mars icon m-icon"></i>授予人：<span class="ui header" th:text="*{acceptUser.nickName}">曲怪</span></div>
                    </div>
                </div>
                <div class="three wide column" th:unless="${gifts} == null">
                    <div class="ui basic segments">
                        <div class="swiper-container right-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" th:each="gift : ${gifts}">
                                    <a href="#" th:href="@{/detail/{id}(id=${gift.id})}">
                                        <div class="ui segment m-padded-zero">
                                            <div class="image">
                                                <img src="../static/images/lena.png" th:src="@{${gift.firstPicUrl}}" alt="" class="ui fluid image m-detail-suo">
                                            </div>
                                            <div align="center">￥<span th:text="${gift.integral}">50</span></div>
                                            <div align="center" th:text="${gift.task}">教师资格证</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide" th:each="gift : ${gifts}">
                                    <a href="#" th:href="@{/detail/{id}(id=${gift.id})}">
                                        <div class="ui segment m-padded-zero">
                                            <div class="image">
                                                <img src="../static/images/lena.png" th:src="@{${gift.firstPicUrl}}" alt="" class="ui fluid image m-detail-suo">
                                            </div>
                                            <div align="center">￥<span th:text="${gift.integral}">50</span></div>
                                            <div align="center" th:text="${gift.task}">教师资格证</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide" th:each="gift : ${gifts}">
                                    <a href="#" th:href="@{/detail/{id}(id=${gift.id})}">
                                        <div class="ui segment m-padded-zero">
                                            <div class="image">
                                                <img src="../static/images/lena.png" th:src="@{${gift.firstPicUrl}}" alt="" class="ui fluid image m-detail-suo">
                                            </div>
                                            <div align="center">￥<span th:text="${gift.integral}">50</span></div>
                                            <div align="center" th:text="${gift.task}">教师资格证</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer th:replace="_fragments :: footer" class="ui teal inverted vertical segment m-padding-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="five wide column">
                <h4 class="ui inverted header">最新文章</h4>
                <div class="ui inverted link list">
                    <span>
                        <a href="#" class="item">用户故事（User Story）</a>
                    </span>
                    <!--/*-->
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                    <!--*/-->
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header">友情链接</h4>
                <div class="ui inverted link list">
                    <div class="ui">
                        <a href="#" class="item">曲怪曲怪</a>
                        &nbsp;
                        <a href="#" class="item">曲奇曲奇</a>
                    </div>
                    <a href="#" class="item">日志</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header">曲奇曲怪 简介</h4>
                <p class="item m-opacity-mini">曲奇是臭猪，曲怪是香猪，嘿嘿哈嘿!!!</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-footer-text">Copyright © 2020 - 2020 &nbsp;&nbsp; <b class="ui header grey">曲奇曲怪</b> &nbsp;&nbsp;Designed
            by LiYang</p>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../static/lib/swiper/js/swiper.js"> </script>
<script>
    $('.m-sidebar').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
<!--/*/</th:block>/*/-->

<script>
    var mySwiper = new Swiper ('.right-swiper', {
        direction: 'vertical', // 垂直切换选项
        loop: true, // 循环模式选项
        slidesPerView: 3,
        mousewheel: true,
        effect : 'coverflow',
        centeredSlides: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        coverflowEffect: {
            stretch: 0,
            depth: 80,
            slideShadows : false
        },
    })
</script>
<script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        loopedSlides: 5,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 10,
        loopedSlides: 5,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        thumbs: {
            swiper: galleryThumbs
        }
    });
</script>
</body>
</html>